@model BookingViewModel

<div href="@Url.Content($"~/film/{Model.Schedule.Film.Id}")" class="list-group-item d-flex flex-row align-items-start li-dark-transparent">
    <div class="row py-1 w-100 pr-4 pl-lg-4 pl-4 justify-content-lg-center align-items-center">
        <div class="col-auto p-0 movie-list-item-content">
            <img src="@Url.Content(Model.Schedule.Film.ImagePath)" class="bg-white d-flex align-items-center justify-content-center h-100 w-100"/>
        </div>
        <div class="col-4 ml-3 movie-list-item-info d-flex flex-column align-items-start justify-content-around">
            <div>
                <div class="d-flex justify-content-center align-items-center">
                    <h4>@Model.Schedule.Film.Name</h4>
                    <h5 class="badge badge-secondary ml-2" style="font-size: 1rem; margin-bottom:3px">New</h5>
                </div>
                <small>@Model.Schedule.Film.Year г.</small>
            </div>
            <small>@Model.Schedule.Film.Genres.Aggregate((a, b) => $"{a}, {b}")</small>
            <small class="text-small">Продолжительность: @Model.Schedule.Film.Duration.TotalMinutes мин.</small>
        </div>

        <div class="col-lg-6">
            <div class="row w-100">
                <div class="col-lg-4 d-none d-860-flex d-lg-flex d-xl-flex flex-column fs-12">
                    <h5>Зал: @Model.Schedule.Hall.HallNumber</h5>
                    <div>Ряд: @((int)Math.Floor((double)Model.Seat / Model.Schedule.Hall.SeatsPerRow) + 1)</div>
                    <div>Место: @(Model.Seat % Model.Schedule.Hall.SeatsPerRow + 1)</div>
                </div>

                <div class="col-lg-auto d-none d-860-flex d-lg-flex d-xl-flex flex-column fs-12">
                    <h5>Дата: @Model.Schedule.Time.ToString("dd.MM.yyyy")</h5>
                    <div>Время: @Model.Schedule.Time.ToString("hh:mm")</div>
                    <div>Цена: @Model.Schedule.PricePerSeat руб.</div>
                </div>
            </div>
            <b class="row mt-3 ml-4">Код брони: @Model.BookingCode</b>
        </div>
    </div>
</div>