@model FilmsViewModel
@{
	ViewData["title"] = "Фильмы";
}

<div id="main" class="z-index--1">
	<div id="movies-container">
		<nav class="movies-list-page-nav shadow-down">
			<ul class="pagination">
				@if (Model.CurrentPage != 1)
				{
					<li class="page-item">
						<button type="submit" value="@(Model.CurrentPage - 1)" form="search-form" name="page" class="page-link page-link-dark-transparent" style="font-size: 0.9rem; padding: 10px">
							<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
								<path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
							</svg>
						</button>
					</li>
				}
							
				@for (int i = Math.Max(1, Model.CurrentPage - 3); i <= Math.Min(Model.NumberOfPages, Model.CurrentPage + 3); i++)
				{
					<li class="page-item">
						<button @(i == Model.CurrentPage ? "disabled" : "") type="submit" name="page" value="@i" form="search-form" class="page-link page-link-dark-transparent">@i</button>
					</li>
				}
							
				@if (Model.CurrentPage != Model.NumberOfPages)
				{
					<li class="page-item">
						<button type="submit" value="@(Model.CurrentPage + 1)" form="search-form" name="page" class="page-link page-link-dark-transparent" style="font-size: 0.9rem; padding: 10px">
							<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
								<path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
							</svg>
						</button>
					</li>
				}
			</ul>
		</nav>

		<div id="movies-list" class="movies-today-list list-group list-group-flush">
			@foreach (var film in Model.Films)
			{
				@await Html.PartialAsync("_MovieItemPartial", film)
			}
		</div>

		<nav class="movies-list-page-nav">
        			<ul class="pagination">
        				@if (Model.CurrentPage != 1)
        				{
        					<li class="page-item">
        						<button type="submit" value="@(Model.CurrentPage - 1)" form="search-form" name="page" class="page-link page-link-dark-transparent" style="font-size: 0.9rem; padding: 10px">
        							<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        								<path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        								<path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        							</svg>
        						</button>
        					</li>
        				}
        							
        				@for (int i = Math.Max(1, Model.CurrentPage - 3); i <= Math.Min(Model.NumberOfPages, Model.CurrentPage + 3); i++)
        				{
        					<li class="page-item">
        						<button @(i == Model.CurrentPage ? "disabled" : "") type="submit" name="page" value="@i" form="search-form" class="page-link page-link-dark-transparent">@i</button>
        					</li>
        				}
        							
        				@if (Model.CurrentPage != Model.NumberOfPages)
        				{
        					<li class="page-item">
        						<button type="submit" value="@(Model.CurrentPage + 1)" form="search-form" name="page" class="page-link page-link-dark-transparent" style="font-size: 0.9rem; padding: 10px">
        							<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-double-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        								<path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
        								<path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
        							</svg>
        						</button>
        					</li>
        				}
        			</ul>
        		</nav>
	</div>
</div>

@section Scripts{
	<script src="~/js/filmsPage_script.js"></script>
}