@model UserViewModel
@{
	ViewData["title"] = "Редактирование";
	var isLoginUnavailable = (bool) ViewData["login_unavailable"];
	var isEmailUnavailable = (bool) ViewData["email_unavailable"];
	var isErrors = (bool) ViewData["validation_errors"];
	var isUnavailable = isLoginUnavailable || isEmailUnavailable;

}
<div id="main" class="z-index--1">
	<div class="row center-margin">
		<div class="col-auto">
			@await Html.PartialAsync("_UserButtonsPartial", Model)
		</div>

		<form class="col-10 mb-5 validate @(isErrors?"validate-immediately":"")" action="" method="post">
			<div class="row">
				<div class="m-0 w-100 super-container h-96px">
					<h2 class="text-center">Личная информация</h2>
				</div>
			</div>

			<div class="row mt-2">
				<!-- Фотографию можно не редактировать -->
				<div class="m-0 w-100 super-container px-5">
					<h3 class="text-center my-3">Профиль</h3>
					<div id="alert" class="w-100 alert alert-danger login-form-error @(isUnavailable? "": "d-none")">
						<div id="loginError" class="@(isLoginUnavailable? "": "d-none ")">Данный логин занят</div>
						<div id="emailError" class="@(isEmailUnavailable? "": "d-none ")mt-2">Пользователь с данным email уже зарегистрирован</div>
					</div>
					<div class="border-container-white px-2 py-1 my-4 w-100">
						<div class="list-group-flush list-group w-100">
							<div class="list-group-item p-4 li-dark-transparent no-cursor-action d-flex justify-content-between align-items-center">
								<span class="text-large">Фотография</span>
								<div class="p-0 review-list-item-content">
									<img src="@Url.Content(Model.ImagePath)" class="bg-white d-flex align-items-center justify-content-center h-100 w-100"/>
								</div>
							</div>

							<div class="list-group-item p-4 li-dark-transparent no-cursor-action d-flex justify-content-between align-items-center">
								<span class="text-large">Никнейм</span>
								<div>
									<input limit=32 type="text" class="text-large textarea-dark-transparent form-control edit login" value="@Model.NickName" name="nickname" />
								</div>
							</div>

							<div class="list-group-item p-4 li-dark-transparent no-cursor-action d-flex justify-content-between align-items-center">
								<span class="text-large">Имя</span>
								<div>
									<input limit=32 type="text" class="text-large textarea-dark-transparent form-control edit name" value="@Model.Name" name="name" />
								</div>
							</div>

							<div class="list-group-item p-4 li-dark-transparent no-cursor-action d-flex justify-content-between align-items-center">
								<span class="text-large">Фамилия</span>
								<div>
									<input limit=32 type="text" class="text-large textarea-dark-transparent form-control edit surname" value="@Model.Surname" name="surname" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row mt-2">
				<div class="m-0 w-100 super-container px-5">
					<h3 class="text-center my-3">Контактная информация</h3>
					<div class="border-container-white px-2 py-1 my-4 w-100">
						<div class="list-group-flush list-group w-100">
							<div class="list-group-item p-4 li-dark-transparent no-cursor-action d-flex justify-content-between align-items-center">
								<span class="text-large">Email</span>
								<div class="d-flex flex-column justify-content-center align-items-center">
									<input type="text" class="text-large textarea-dark-transparent form-control edit email" value="@Model.Email" name="email" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row mt-2">
				<input type="submit" class="text-large m-0 w-100 super-button px-5 py-1" value="Сохранить" />
			</div>
		</form>
	</div>
</div>

@section Scripts
{
	<script src="~/js/info_edit.js"></script>
}
